* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: .5px solid red; 
    // background: radial-gradient(circle, 
    //     #ff9c09 0%,        
    //     #e47506 50%,       
    //     #9e4f00 100%      
    //   );
}


 
